@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
* {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  -webkit-box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
}

header {
  z-index: 99;
  text-align: center;
  text-transform: uppercase;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.menu__item {
  width: 100%;
  z-index: 1;
}

.menu__link {
  font-family: 'PT Sans', Arial, sans-serif;
  display: block;
  height: 56px;
  line-height: 56px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  font-weight: 700;
}

.menu__link:hover {
  color: #81b3d2;
}

.menu__link:active {
  opacity: 0.3;
  color: #000000;
}

.menu__link--active {
  color: #766357;
}

.menu__link--active:hover {
  color: #604e43;
}

.menu__link--active:active {
  opacity: 0.3;
  color: #766357;
}

.nav__tumbler {
  display: none;
  width: 23px;
  height: 21px;
  border: none;
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: #ffffff;
  background-image: url("../img/icon-menu-svg.png");
  cursor: pointer;
  outline: none;
}

.intro__wallpaper {
  height: 518px;
  background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  -webkit-background-size: auto, 1200px 518px;
          background-size: auto, 1200px 518px;
  background-repeat: no-repeat;
  background-position: 50% bottom;
}

.intro__img__text {
  display: block;
  max-width: 460px;
  margin: 0 auto;
  padding-top: 78px;
}

.reasons__header {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 0 auto;
  padding: 50px 0 55px;
  max-width: 486px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reasons__header__title {
  color: #333333;
  font-size: 21px;
  line-height: 26px;
}

.reasons__header__description {
  font-size: 14px;
  line-height: 26px;
}

.reasons__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 256px;
  text-align: center;
  width: 100%;
}

.reason {
  width: 400px;
  height: 100%;
  max-width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 53px 20px 40px;
}

.reason__title {
  display: block;
  margin: 0 auto 8px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  max-width: 300px;
}

.reason__number {
  margin: 0 auto 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}

.reason__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 280px;
  margin: 0 auto 5px;
}

.reason__img__block {
  width: 100%;
  max-width: 800px;
}

.reason__img__block:nth-child(2) {
  background: url("../img/photo-city-desktop@2x.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.reason__img__block:nth-child(1) {
  background: url("../img/photo-bridge-desktop@2x.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.reason--blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.reason--gray {
  color: #333333;
  background-color: #eeeeee;
}

.reasons__icon__row {
  height: 330px;
}

.reason__icon__picture {
  display: block;
  margin: 0 auto 33px;
}

.icon__title {
  margin-bottom: 33px;
}

.hotel-search {
  width: 100%;
  height: 330px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 57px 100px 30px;
}

.hotel-search__title {
  max-width: 460px;
  margin: 0 auto 40px;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-search__description {
  max-width: 460px;
  margin: 0 auto 52px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.hotel-search__button-overlay-wrapper {
  z-index: 110;
  position: relative;
  max-width: 458px;
  margin: 0 auto;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.hotel-search__button-overlay-wrapper--triggered {
  max-width: 568px;
}

.hotel-search__button {
  width: 100%;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

.hotel-search__button:hover {
  background-color: #669ec0;
}

.hotel-search__button:active {
  background-color: #5496bd;
}

.hotel-search__button:active span {
  opacity: 0.3;
}

.button--triggered {
  background-color: #766357;
}

.button--triggered:hover {
  background-color: #5b4e46;
}

.hotel-search__form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 55px;
  -webkit-transition: 3.5s;
  -o-transition: 3.5s;
  transition: 3.5s;
}

.hotel-search__form > div > input:hover {
  background-color: #e5e5e5;
}

.hotel-search__form > div > input:active {
  background-color: #d5d5d5;
}

.hotel-search__form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  width: 100%;
  max-width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 14px;
}

.hotel-search__form--visible {
  display: block;
}

.hotel-search__form > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
}

.date-input {
  position: relative;
}

.search-form__optional-data {
  margin-bottom: 54px !important;
}

.search-form__optional-data div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.search-form__optional-data input {
  width: 38px;
}

.optional-data__adult label {
  margin-right: 41px;
}

.optional-data__children label {
  margin-right: 27px;
}

.form__counter button {
  cursor: pointer;
  border: none;
  outline: none;
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
}

.form__counter button:hover {
  background-color: #e5e5e5;
}

.form__counter button:active {
  background-color: #d5d5d5;
}

.hotel-search__form label {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
}

.hotel-search__form .search-form__submit-button {
  height: 58px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  max-width: 458px;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-search__form .search-form__submit-button:hover {
  background-color: #669ec0;
}

.hotel-search__form .search-form__submit-button:active {
  background-color: #5496bd;
}

.map {
  height: 350px;
  width: 100%;
}

.map__google {
  width: 100%;
}

.footer {
  height: 120px;
  padding: 36px 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 156px;
}

.footer__hashtag {
  margin-left: 88px;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__social {
  height: 48px;
  width: 156px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__icon {
  display: block;
  width: 48px;
  height: 48px;
}

.social__icon:hover {
  background-color: #669ec0;
}

.social__icon:active {
  background-color: #5496bd;
}

.twitter {
  background: #81b3d2 url("../img/icon-twitter.svg") no-repeat center;
}

.facebook {
  background: #81b3d2 url("../img/icon-facebook.svg") no-repeat center;
}

.youtube {
  background: #81b3d2 url("../img/icon-youtube.svg") no-repeat center;
}

.html_academy_copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.html_academy_copyright__link {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.html_academy_copyright__link:hover {
  color: #81b3d2;
}

.html_academy_copyright__link:active {
  color: #000000;
  opacity: 0.3;
}

.html_academy_copyright__logo {
  margin-left: 11px;
}

@media (max-width: 1200px) and (min-width: 520px) {
  .reason__img__block:nth-child(2) {
    background-image: url("../img/photo-city-tablet@2x.jpg");
    height: 256px;
  }
  .reason__img__block:nth-child(1) {
    background-image: url("../img/photo-bridge-tablet@2x.jpg");
    height: 256px;
  }
}

@media (max-width: 519px) {
  .reason__img__block:nth-child(2) {
    background-image: url("../img/photo-city-mobile@2x.jpg");
    height: 256px;
  }
  .reason__img__block:nth-child(1) {
    background-image: url("../img/photo-bridge-tablet@2x.jpg");
    height: 260px;
  }
}

@media (max-width: 1000px) {
  .footer__hashtag {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #81b3d2;
  }
  .menu__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2);
            box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2);
    height: 55px;
    background-color: #81b3d2;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .menu__item {
    display: none;
  }
  .menu__item:last-child a {
    -webkit-box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 -4px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 -4px 3px rgba(0, 0, 0, 0.2);
  }
  .menu__link:hover {
    color: #ffffff;
  }
  .menu__link--active {
    color: #766357;
  }
  .logo_li {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
  }
  .logo_li a {
    background-color: #ffffff;
    pointer-events: none;
  }
  .nav__tumbler {
    display: block;
  }
  .visible {
    display: block;
  }
  .intro__wallpaper {
    padding-top: 55px;
    height: 389px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-position: 50% bottom, 50% 45px;
    -webkit-background-size: cover, cover;
            background-size: cover, cover;
    background-repeat: no-repeat;
  }
  .intro__img__text {
    max-width: 282px;
    padding-top: 90px;
  }
  .reasons__header {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 320px;
    height: auto;
    padding: 43px 25px 0;
    margin: 0 auto;
  }
  .reasons__header__title {
    margin: 0 auto 30px;
    font-size: 18px;
    line-height: 26px;
    width: 265px;
  }
  .reasons__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .reason {
    width: 100%;
    max-width: none;
    padding-top: 45px;
  }
  .reason__title {
    line-height: 26px;
    font-size: 18px;
    white-space: nowrap;
  }
  .reason__title br {
    display: none;
  }
  .reasons__row:nth-child(2) .reason--blue {
    padding-top: 120px;
    background-image: url("../img/bg-triangle.svg");
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: 103% 103%;
            background-size: 103%;
  }
  .reasons__icon__row {
    margin-top: 41px;
  }
  .reason__icon {
    padding: 0 40px 42px 15px;
    position: relative;
    max-width: 320px;
    margin: 0 auto;
  }
  .icon__title {
    margin-left: 56px;
    text-align: left;
    margin-bottom: 13px;
  }
  .icon__text {
    margin-left: 56px;
    text-align: left;
    margin-bottom: 0;
  }
  .reason__icon__img {
    position: absolute;
    top: -9px;
    left: 19px;
  }
  .reason__icon__picture {
    width: 39px;
    height: 37px;
  }
  .reason__icon:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .reason--gray {
    border-bottom: 1px solid #d6d6d6;
  }
  .reason--gray:last-child {
    border: none;
  }
  .hotel-search {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    height: auto;
    padding: 33px 20px 49px;
  }
  .hotel-search__title {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .hotel-search__description {
    margin-bottom: 40px;
  }
  .hotel-search__description br {
    display: none;
  }
  .hotel-search__button {
    width: 280px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__column {
    margin-bottom: 40px;
  }
  .footer__column:last-child {
    margin-bottom: 0;
  }
  .footer__hashtag {
    display: block;
    text-align: center;
  }
  .html_academy_copyright {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feedback__wallpaper {
  height: 300px;
}

.feedback__wallpaper__img__text {
  padding-top: 109px;
}

@media (max-width: 768px) {
  .feedback__wallpaper__img__text {
    max-width: 229px;
  }
}

.feedback__intro {
  padding: 0 20px;
  text-align: center;
  max-width: 440px;
  margin: 108px auto 0;
}

.feedback__intro h2 {
  margin-bottom: 30px;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}

.feedback__intro p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 65px;
}

.feedback-form {
  padding-top: 5px;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.feedback-form input[type="text"] {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-transform: none;
  height: 58px;
  background-color: #f2f2f2;
  outline: none;
  padding: 0 22px;
  font-size: 18px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  width: 100%;
}

.feedback-form input[type="text"]:hover {
  background-color: #e5e5e5;
}

.feedback-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 4px solid #f2f2f2;
  padding-left: 18px;
}

@media (max-width: 1100px) {
  .feedback-form {
    max-width: 640px;
  }
}

fieldset {
  border: none;
}

fieldset legend {
  margin-bottom: 70px;
  padding-left: 76px;
  font-size: 21px;
  color: #000000;
  font-weight: 700;
}

@media (max-width: 1100px) {
  fieldset legend {
    padding-left: 0;
  }
}

.impression-field {
  width: 50%;
  border-right: 1px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.impression-field__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.impression-field__item .impression-field__item__checkbox__body {
  width: 58px;
  height: 58px;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
  margin-right: 22px;
}

.impression-field__item .impression-field__item__checkbox__body:hover {
  background-color: #e5e5e5;
}

.impression-field__item .impression-field__item__checkbox__body:active {
  background-color: #d5d5d5;
}

.impression-field__item span {
  display: inline;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: none;
}

.impression-field label:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .impression-field {
    border-right: none;
  }
}

.impression-field__item__checkbox {
  display: none;
}

.impression-field__item__checkbox:checked + .impression-field__item__checkbox__body::after {
  content: "";
  background-color: #333333;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.name-field {
  padding-left: 76px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}

.name-field legend {
  padding: 0;
}

.name-field label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.name-field label span {
  margin-right: 15px;
  color: #515151;
  font-size: 14px;
}

.name-field label label:last-child {
  margin-bottom: 0;
}

@media (max-width: 1100px) {
  .name-field {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .name-field {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    padding-left: 0;
  }
}

.contacts-field {
  margin-top: 75px;
  width: 100%;
  border-top: 1px solid #dbdbdb;
}

.contacts-field legend {
  padding: 0;
  text-align: center;
  width: 400px;
}

.contacts-field label {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.contacts-field label:after {
  content: "";
  clear: both;
}

.contacts-field label .feedback-form__contacts-field__input-phone:before {
  background: #e6e6e6 url("../img/phone.png") no-repeat center;
}

.contacts-field label .feedback-form__contacts-field__input-mail:before {
  background: #e6e6e6 url("../img/mail.png") no-repeat center;
}

.contacts-field label div {
  position: relative;
  width: 100%;
}

.contacts-field label div:before {
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  display: block;
  clear: both;
}

@media (max-width: 1100px) {
  .contacts-field label div {
    margin-top: 5px;
  }
}

.contacts-field label:nth-child(2) {
  padding-right: 56px;
}

@media (max-width: 1100px) {
  .contacts-field label:nth-child(2) {
    margin-bottom: 28px;
  }
}

.contacts-field label span {
  font-size: 14px;
  color: #515151;
  margin-right: 16px;
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .contacts-field label {
    clear: both;
    width: 100%;
    padding-right: 0 !important;
    display: block;
  }
}

.visited-field {
  margin-top: 60px;
  width: 100%;
  border-top: 1px solid #dbdbdb;
}

.visited-field legend {
  padding: 0;
  text-align: center;
  width: 400px;
}

.visited-field__item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .visited-field__item-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 85px;
  }
}

@media (max-width: 768px) {
  .visited-field__item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
}

.visited-field__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .visited-field__item {
    width: 50%;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .visited-field__item {
    width: 280px;
    margin: 0 auto 29px;
    padding-left: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.visited-field__item span {
  text-transform: none;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.visited-field__item__checkbox {
  display: none;
}

.visited-field__item__checkbox__body {
  width: 58px;
  height: 58px;
  display: inline-block;
  -webkit-border-radius: 20%;
          border-radius: 20%;
  background-color: #f2f2f2;
  position: relative;
  margin-right: 22px;
}

.visited-field__item__checkbox__body:hover {
  background-color: #e5e5e5;
}

.visited-field__item__checkbox__body:active {
  background-color: #d5d5d5;
}

.visited-field__item__checkbox:checked + .visited-field__item__checkbox__body {
  background: #e6e6e6 url("../img/tick.png") no-repeat center;
}

.review-field {
  margin-top: 60px;
  width: 100%;
  border-top: 1px solid #dbdbdb;
}

.review-field legend {
  padding: 0;
  text-align: center;
  width: 400px;
  margin-bottom: 62px;
}

.review-field__textarea {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  height: 160px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  resize: none;
}

.review-field__textarea:hover {
  background-color: #e5e5e5;
}

.review-field__textarea:focus {
  background-color: #ffffff;
  border: 4px solid #f2f2f2;
  padding: 18px;
}

@media (max-width: 768px) {
  .feedback-form {
    padding: 0 20px;
    min-width: 320px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  fieldset {
    width: 100% !important;
  }
  fieldset legend {
    text-align: center;
    max-width: 280px;
  }
}

.feedback-form__submit {
  margin: 58px 0 66px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-form__submit__button {
  width: 480px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

.feedback-form__submit__button:hover {
  background-color: #669ec0;
}

.feedback-form__submit__button:active {
  background-color: #5496bd;
}

@media (max-width: 1100px) {
  .feedback-form__submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-form__submit__button {
    width: 100%;
  }
  .feedback-form__submit span {
    margin-top: 21px;
  }
}

@media (max-width: 768px) {
  .feedback-form__submit {
    margin: 51px 0 42px 0;
  }
  .feedback-form__submit span {
    display: none;
  }
}

.photo-blog {
  width: 100%;
  display: grid;
  grid-template: 400px 267px/1fr 1fr 1fr;
  grid-template-areas: "big-photo big-photo big-photo";
}

@media (max-width: 1200px) {
  .photo-blog {
    grid-template: auto/1fr 1fr;
    grid-template-areas: "big-photo big-photo";
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .photo-blog {
    grid-template: auto/auto;
    grid-template-areas: "big-photo";
    width: 100%;
  }
}

.photo-blog__item {
  position: relative;
}

@media (max-width: 700px) {
  .photo-blog__item {
    padding: 0 6%;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 22px;
  }
}

.photo-blog__item__img img {
  display: block;
}

@media (max-width: 1200px) {
  .photo-blog__item__img img {
    width: 100%;
  }
}

.photo-blog__item:first-child {
  grid-area: big-photo;
}

.photo-blog__item__info {
  position: absolute;
  height: 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 22px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .photo-blog__item__info {
    position: relative;
    background-color: #f2f2f2;
  }
}

@media (max-width: 700px) {
  .photo-blog__item__info {
    padding: 20px 0;
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    height: 110px;
  }
}

.photo-blog__item__info__description {
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .photo-blog__item__info__description {
    color: #000000;
  }
}

.photo-blog__item__info__description__header {
  font-family: "PT Sans";
  line-height: 14px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 7px;
}

.photo-blog__item__info__description__author {
  font-family: "Arial";
  text-transform: none;
  font-weight: 100;
}

.photo-blog__item__info__like-panel span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: -2px;
  margin-left: 7px;
}

@media (max-width: 1200px) {
  .photo-blog__item__info__like-panel span {
    color: #000000;
  }
}

.video-blog {
  margin-bottom: 80px;
}

@media (max-width: 600px) {
  .video-blog {
    margin: 0;
  }
}

.video-blog__header {
  margin-top: 73px;
}

.video-blog__player {
  max-width: 800px;
  margin: 10px auto 0;
  position: relative;
}

.video-blog__player__prewiew-img img {
  display: block;
  width: 100%;
}

@media (max-width: 1200px) {
  .video-blog__player {
    max-width: 648px;
  }
}

@media (max-width: 730px) {
  .video-blog__player {
    width: 88%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .video-blog__player {
    width: 100%;
  }
}

.video-blog__player__controls {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  height: 92px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-blog__player__controls svg {
  fill: #ffffff;
  cursor: pointer;
}

.video-blog__player__controls svg:hover {
  fill: #333333;
}

.video-blog__player__controls svg:active {
  fill: #c1c1c1;
}

@media (max-width: 700px) {
  .video-blog__player__controls {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 22px;
    height: 66px;
    background-color: #f2f2f2;
  }
  .video-blog__player__controls svg {
    fill: #5c6870;
  }
  .video-blog__player__controls__replay {
    margin-right: 50%;
  }
}

.video-blog__player__controls__progress-bar {
  width: 76%;
}

@media (max-width: 700px) {
  .video-blog__player__controls__progress-bar {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 22px;
    width: 100%;
    top: -48px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.video-blog__player__controls__progress-bar__body {
  background-color: rgba(255, 255, 255, 0.4);
  height: 4px;
  position: relative;
}

.video-blog__player__controls__progress-bar__body .sliderGap {
  position: absolute;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  top: -3px;
  cursor: pointer;
}
