@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

.background__grey {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, .6);
}

header {
    text-align: center;
    text-transform: uppercase;
}

.menu__list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.menu__item {
    width: 20%;
    z-index: 1;
}

.menu__link {
    font-family: 'PT Sans', Arial, sans-serif;
    display: block;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.menu__link:hover {
    color: #81b3d2;
}

.menu__link:active {
    opacity: 0.3;
    color: #000000;
}

.menu__link--active {
    color: #766357;
}

.menu__link--active:hover {
    color: #604e43;
}

.menu__link--active:active {
    opacity: 0.3;
    color: #766357;
}

.intro__wallpaper {
    height: 518px;
    background-image: url("img/intro-triangle-svg.png"), url("img/back-desktop-jpg.jpg");
    background-size: auto, 1200px 518px;
    background-repeat: no-repeat;
    background-position: 50% bottom;;
}

.intro__img__text {
    display: block;
    max-width: 460px;
    margin: 0 auto;
    padding-top: 78px;
}

.reasons__header {
    align-self: center;
    margin: 0 auto;
    padding: 50px 0 55px;
    max-width: 486px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reasons__header__title {
    color: #333333;
    font-size: 21px;
    line-height: 26px;
}

.reasons__header__description {
    font-size: 14px;
}

.reasons__row {
    display: flex;
    flex-wrap: nowrap;
    height: 256px;
    text-align: center;
    width: 100%;
}

.reason {
    width: 400px;
    height: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 53px 20px 40px;
}

.reason__title {
    display: block;
    margin: 0 auto 8px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    max-width: 300px;
}

.reason__number {
    margin: 0 auto 15px;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}

.reason__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 280px;
    margin: 0 auto 5px;
}

.reason__img__block {
    width: 100%;
    max-width: 800px;
}

.reason__img__block__img {
    width: 100%;
    height: 100%;
}

.reason--blue {
    background-color: #81b3d2;
    color: #ffffff;
}

.reason--gray {
    color: #333333;
    background-color: #eeeeee;
}

.reasons__icon__row {
    height: 330px;
}

.reason__icon__picture {
    display: block;
    margin: 0 auto 33px;
}

.icon__title {
    margin-bottom: 33px;
}

.hotel-search {
    width: 100%;
    height: 330px;
    text-align: center;
    box-sizing: border-box;
    padding: 57px 100px 30px;
}

.hotel-search__title {
    max-width: 460px;
    margin: 0 auto 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
}

.hotel-search__description {
    max-width: 460px;
    margin: 0 auto 52px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.hotel-search__button {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
}

.hotel-search__button:hover {
    background-color: #669ec0;
}

.hotel-search__button:active {
    background-color: #5496bd;
}

.button--disabled {
    background-color: #e5e5e5;
}

.hotel-search__button:active span {
    opacity: 0.3;
}

.map {
    height: 350px;
    width: 100%;
}

.map__google {
    width: 100%;
}

.footer {
    height: 120px;
    padding: 36px 44px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer__column {
    box-sizing: border-box;
    width: 156px;
}

.footer__hashtag {
    margin-left: 88px;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__social {
    height: 48px;
    width: 156px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social__icon {
    display: block;
    width: 48px;
    height: 48px;
}

.twitter {
    background: #81b3d2 url("img/icon-twitter-svg.png") no-repeat center;
}

.facebook {
    background: #81b3d2 url("img/icon-facebook-svg.png") no-repeat center;
}

.youtube {
    background: #81b3d2 url("img/icon-youtube-svg.png") no-repeat center;
}

.social__icon:hover {
    background-color: #669ec0;
}

.social__icon:active {
    background-color: #5496bd;
}

.html_academy_copyright {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.html_academy_copyright__link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.html_academy_copyright__link:hover {
    color: #81b3d2;
}

.html_academy_copyright__link:active{
    color: #000000;
    opacity: 0.3;
}

.html_academy_copyright__logo {
    margin-left: 11px;
}