@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, .6);
}

header {
    text-align: center;
    text-transform: uppercase;
}

.menu__list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.menu__item {
    width: 100%;
    z-index: 1;
}

.menu__link {
    font-family: 'PT Sans', Arial, sans-serif;
    display: block;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.menu__link:hover {
    color: #81b3d2;
}

.menu__link:active {
    opacity: 0.3;
    color: #000000;
}

.menu__link--active {
    color: #766357;
}

.menu__link--active:hover {
    color: #604e43;
}

.menu__link--active:active {
    opacity: 0.3;
    color: #766357;
}

.nav__tumbler {
    display: none;
    width: 23px;
    height: 21px;
    border: none;
    position: absolute;
    top: 17px;
    right: 20px;
    background-color: #ffffff;
    background-image: url("img/icon-menu-svg.png");
    cursor: pointer;
    outline: none;
}

.intro__wallpaper {
    height: 518px;
    background-image: url("img/intro-triangle-svg.png"), url("img/back-desktop-jpg.jpg");
    background-size: auto, 1200px 518px;
    background-repeat: no-repeat;
    background-position: 50% bottom;
}

.intro__img__text {
    display: block;
    max-width: 460px;
    margin: 0 auto;
    padding-top: 78px;
}

.reasons__header {
    align-self: center;
    margin: 0 auto;
    padding: 50px 0 55px;
    max-width: 486px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reasons__header__title {
    color: #333333;
    font-size: 21px;
    line-height: 26px;
}

.reasons__header__description {
    font-size: 14px;
    line-height: 26px;
}

.reasons__row {
    display: flex;
    flex-wrap: nowrap;
    height: 256px;
    text-align: center;
    width: 100%;
}

.reason {
    width: 400px;
    height: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 53px 20px 40px;
}

.reason__title {
    display: block;
    margin: 0 auto 8px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    max-width: 300px;
}

.reason__number {
    margin: 0 auto 15px;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}

.reason__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    max-width: 280px;
    margin: 0 auto 5px;
}

.reason__img__block {
    width: 100%;
    max-width: 800px;
}

.reason__img__block__img {
    width: 100%;
    height: 100%;
}

.reason--blue {
    background-color: #81b3d2;
    color: #ffffff;
}

.reason--gray {
    color: #333333;
    background-color: #eeeeee;
}

.reasons__icon__row {
    height: 330px;
}

.reason__icon__picture {
    display: block;
    margin: 0 auto 33px;
}

.icon__title {
    margin-bottom: 33px;
}

.hotel-search {
    width: 100%;
    height: 330px;
    text-align: center;
    box-sizing: border-box;
    padding: 57px 100px 30px;
}

.hotel-search__title {
    max-width: 460px;
    margin: 0 auto 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
}

.hotel-search__description {
    max-width: 460px;
    margin: 0 auto 52px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.hotel-search__button {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
}

.hotel-search__button:hover {
    background-color: #669ec0;
}

.hotel-search__button:active {
    background-color: #5496bd;
}

.button--disabled {
    background-color: #e5e5e5;
}

.hotel-search__button:active span {
    opacity: 0.3;
}

.map {
    height: 350px;
    width: 100%;
}

.map__google {
    width: 100%;
}

.footer {
    height: 120px;
    padding: 36px 44px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer__column {
    box-sizing: border-box;
    width: 156px;
}

.footer__hashtag {
    margin-left: 88px;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__social {
    height: 48px;
    width: 156px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social__icon {
    display: block;
    width: 48px;
    height: 48px;
}

.twitter {
    background: #81b3d2 url("img/icon-twitter-svg.png") no-repeat center;
}

.facebook {
    background: #81b3d2 url("img/icon-facebook-svg.png") no-repeat center;
}

.youtube {
    background: #81b3d2 url("img/icon-youtube-svg.png") no-repeat center;
}

.social__icon:hover {
    background-color: #669ec0;
}

.social__icon:active {
    background-color: #5496bd;
}

.html_academy_copyright {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.html_academy_copyright__link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.html_academy_copyright__link:hover {
    color: #81b3d2;
}

.html_academy_copyright__link:active {
    color: #000000;
    opacity: 0.3;
}

.html_academy_copyright__logo {
    margin-left: 11px;
}

@media (max-width: 1000px) {
    .footer__hashtag {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        width: 100%;
    }

    .menu__list {
        flex-direction: column;
        background-color: #81b3d2;
    }

    .menu__link {
        box-sizing: border-box;
        box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2);
        height: 55px;
        background-color: #81b3d2;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
    }

    .menu__item {
        display: none;
    }

    .menu__item:last-child a {
        box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 -4px 3px rgba(0, 0, 0, 0.2);
    }

    .menu__link:hover {
        color: #ffffff;
    }

    .menu__link--active {
        color: #766357;
    }

    .logo_li {
        order: 1;
        position: relative;
        display: block;
    }

    .logo_li a {
        background-color: #ffffff;
        pointer-events: none;
    }

    .nav__tumbler {
        display: block;
    }

    .visible {
        display: block;
    }

    .intro__wallpaper {
        padding-top: 55px;
        height: 389px;
        background-image: url("img/intro-triangle-svg_tablet.png"), url("img/bg-back-mobile@2x.jpg");
        background-position: 50% bottom, 50% 45px;
        background-size: auto, cover;
        background-repeat: no-repeat;
    }

    .intro__img__text {
        max-width: 282px;
        padding-top: 90px;
    }

    .reasons__header {
        display: block;
        box-sizing: border-box;
        max-width: 320px;
        height: auto;
        padding: 43px 25px 0;
        margin: 0 auto;
    }

    .reasons__header__title{
        margin: 0 auto 30px;
        font-size: 18px;
        line-height: 26px;
        width: 265px;
    }

    .reasons__row{
        flex-direction: column;
        height: auto;
    }

    .reason{
        width: 100%;
        max-width: none;
    }

    .reason__title{
        line-height: 26px;
        font-size: 18px;
        white-space: nowrap;
    }

    .reason__title br{
        display: none;
    }

    .reasons__row:nth-child(2) .reason--blue{
        padding-top: 93px;
        background-image: url("img/white copy 2@1x.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/*@media (max-width: 320px) {*/
/*.intro__wallpaper {*/
/*padding-top: 56px;*/
/*height: 389px;*/
/*background-image: url("img/intro-triangle-svg.png"), url("img/back-mobile-jpg.jpg");*/
/*background-size: auto, 320px 389px;*/
/*background-repeat: no-repeat;*/
/*background-position: 50% bottom;*/
/*}*/

/*.intro__img__text {*/
/*width: 282px;*/
/*height: 214px;*/
/*padding-top: 81px;*/
/*}*/

/*.reasons__row{*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

/*.reasons__header{*/
/*box-sizing: border-box;*/
/*height: 202px;*/
/*padding: 43px 30px 11px;*/
/*}*/

/*.reason{*/
/*max-width: 320px;*/
/*}*/
/**/
/*.reasons__row:nth-child(2) .reason--blue{*/
/*background-image: url("img/white-copy-2.png");*/
/*background-size: auto;*/
/*background-repeat: no-repeat;*/
/*background-position: 50% top;*/
/*}*/

/*!*.reasons__row:nth-child(0){*!*/
/*!*height: 100px;*!*/

/*!*}*!*/
/*}*/